.contenedor{
    padding: 20px;
    margin: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightpink;
}

.contenedor-not{
    padding: 20px;
    margin: 50px;
    text-align: center;
    color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: red;
}

.run{
    padding: 20px;
    margin: 50px;
    text-align: center;
    background-color: lightgreen;
}

.no-run{
    padding: 20px;
    margin: 50px;
    text-align: center;
    background-color: lightcoral;
}

.textoResultado{
    font-family:monospace;
    color: rgb(113, 98, 225);
    font-size: 20px;
}