*{
    background-color: rgb(255, 168, 168);
    height: 5vh;
}

button{
    background-color: rgb(207, 255, 168);
    padding: 5px;
    margin: 5px;
    height: 10px;
    border-radius: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 10px;
    cursor: pointer;
}