<!-- <div *ngIf="isAuthenticated">
  <app-navbar></app-navbar>

  <div class="container">
   
    <div class="sidebar" [ngClass]="{ 'collapsed': !isSidebarOpen }">
      <p>Contenido del sidebar</p>
    </div>

    
    <div class="content-container">
      
      <nav class="navbar">
        <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>
        <span class="navbar-title">Mi Aplicación</span>
      </nav>

      
      <div class="breadcrumb">
        <span>Inicio</span> / <span>Sección</span> / <span>Página actual</span>
      </div>

      
      <p>Contenido principal aquí...</p>

      <footer class="footer">
        <p>Mi Footer</p>
      </footer>
    </div>

    
  </div>

 
 
</div>



<div *ngIf="!isAuthenticated" class="not-authenticated">
  <div class="container">
    
    <div class="content-container">
      
      <button class="login-button" (click)="login()">Iniciar sesión</button>

      
      <p>Contenido principal aquí...</p>

      <footer class="footer">
        <p>Mi Footer</p>
      </footer>
    </div>
  </div>
</div> -->

<app-toolbar>
  <hr>
</app-toolbar>

<h2>Ejercicio 1:</h2>
<app-ejercicio-01>
<hr>
</app-ejercicio-01>
<h2>Ejercicio 2:</h2>
<app-ejercicio-02>
<hr>
</app-ejercicio-02>

<h2>Ejercicio 3:</h2>
<app-ejercicio-03>
<hr>
</app-ejercicio-03>

<h2>Ejercicio 4:</h2>
<app-ejercicio-04>
<hr>
</app-ejercicio-04>

<h2>Ejercicio 5:</h2>
<app-ejercicio-05>
  <hr>
</app-ejercicio-05>

<h2>Ejercicio 6:</h2>
<app-ejercicio-06>
  <hr>
</app-ejercicio-06>

<h2>Ejercicio 07:</h2>
<app-ejercicio-07>
  <hr>
</app-ejercicio-07>

<hr>

<h2>Ejercicio 08:</h2>
<app-ejercicio-08 occupation="Angular Developer" name="Tania"></app-ejercicio-08>

<hr>

<h2>Ejercicio 09:</h2>
<app-ejercicio-09 (addItemEvent)="addItem($event)"></app-ejercicio-09>

<button mat-button>Aplasta</button>
