<div *ngIf="isAuthenticated">
  <app-navbar></app-navbar>

  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar" [ngClass]="{ 'collapsed': !isSidebarOpen }">
      <p>Contenido del sidebar</p>
    </div>

    <!-- Contenido principal -->
    <div class="content-container">
      <!-- Navbar -->
      <nav class="navbar">
        <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>
        <span class="navbar-title">Mi Aplicación</span>
      </nav>

      <!-- Breadcrumb -->
      <div class="breadcrumb">
        <span>Inicio</span> / <span>Sección</span> / <span>Página actual</span>
      </div>

      <!-- Contenido -->
      <p>Contenido principal aquí...</p>

      <footer class="footer">
        <p>Mi Footer</p>
      </footer>
    </div>

    
  </div>

 
 
</div>


<!-- Vista cuando no está autenticado -->
<div *ngIf="!isAuthenticated" class="not-authenticated">
  <div class="container">
    <!-- Contenido principal -->
    <div class="content-container">
      <!-- Botón de Iniciar sesión -->
      <button class="login-button" (click)="login()">Iniciar sesión</button>

      <!-- Contenido -->
      <p>Contenido principal aquí...</p>

      <footer class="footer">
        <p>Mi Footer</p>
      </footer>
    </div>
  </div>
</div>

<!-- <h1>
  Hola, este es mi primer app en angular
</h1>
<h1>
  Manual de prácticas
</h1>
<p>Elaborado por: <strong>Tania Ibarra Salgado</strong></p>
<hr>
<h2>Ejercicio 1:</h2>
<app-ejercicio-01>
<hr>
</app-ejercicio-01>
<h2>Ejercicio 2:</h2>
<app-ejercicio-02>
<hr>
</app-ejercicio-02>

<h2>Ejercicio 3:</h2>
<app-ejercicio-03>
<hr>
</app-ejercicio-03>

<h2>Ejercicio 4:</h2>
<app-ejercicio-04>
<hr>
</app-ejercicio-04>

<h2>Ejercicio 5:</h2>
<app-ejercicio-05>
  <hr>
</app-ejercicio-05>

<h2>Ejercicio 6:</h2>
<app-ejercicio-06>
  <hr>
</app-ejercicio-06>

<h2>Ejercicio 07:</h2>
<app-ejercicio-07>
  <hr>
</app-ejercicio-07>

<button mat-button>Aplasta</button> -->
