<h1>
  Hola, este es mi primer app en angular
</h1>
<h1>
  Manual de prácticas
</h1>
<p>Elaborado por: <strong>Tania Ibarra Salgado</strong></p>
<hr>
<h2>Ejercicio 1:</h2>
<app-ejercicio-01>
<hr>
</app-ejercicio-01>
<h2>Ejercicio 2:</h2>
<app-ejercicio-02>
<hr>
</app-ejercicio-02>

<h2>Ejercicio 3:</h2>
<app-ejercicio-03>
<hr>
</app-ejercicio-03>

<h2>Ejercicio 4:</h2>
<app-ejercicio-04>
<hr>
</app-ejercicio-04>

<h2>Ejercicio 5:</h2>
<app-ejercicio-05>
  <hr>
</app-ejercicio-05>

<h2>Ejercicio 6:</h2>
<app-ejercicio-06>
  <hr>
</app-ejercicio-06>

<button>Aplasta</button>